body {
    background-color: aqua;
}
 h1{
   color: #ea503f;
   font-family: Arial;
   text-align: center;
   
 }
 .container {
  padding: 20px;
  margin: 1px solid lightgreen;
}
header{
    float: right;
    background-color: aquamarine;
    border: 2px solid black;
}
header a{
    font-size:15px;
    background-color: blanchedalmond;
}
h1{
   color: #ea503f;
   font-family: Arial;
   text-align: center;
   
 }
 button {
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
input {
    padding: 10px;
    margin-bottom: 20px;
}
label {
    margin-left: 10px;
    margin-right: 20px;
}